<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.wind.administrator.fuck">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name=".JDApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- singTop:避免点两次是弹出两次 -->
        <!-- singTask:当点击时会先判断，如果有其它任务则会先干掉 -->
        <activity
            android:name=".activity.BaseActivity"
            android:launchMode="singleTop"/>
        <activity
            android:name=".activity.LoginActivity"
            android:launchMode="singleTop"/>
        <activity
            android:name=".activity.MainActivity"
            android:launchMode="singleTask"/>
        <activity
            android:name=".activity.RegistActivity"
            android:launchMode="singleTop"/>
        <activity android:name=".activity.ProductActivity">
        </activity>
        <activity android:name=".activity.ProductListActivity">
        </activity>
        <activity android:name=".activity.ProductDetailsActivity">
        </activity>
        <activity android:name=".activity.SettleActivity">
        </activity>
        <activity android:name=".activity.ChooseAddressActivity">
        </activity>
        <activity android:name=".activity.AddAddressActivity">
        </activity>
        <activity android:name=".activity.AliPayActivity">
        </activity>
        <activity android:name=".activity.OrderDetailsActivity">
        </activity>
        <activity android:name=".activity.OrderListActivity">
        </activity>
    </application>

</manifest>